

html,body{margin:0; padding:0; width: 100%; overflow-x: hidden;}

.root-container{
    font-family: 'Manrope', sans-serif;
    background: hsl(210, 46%, 95%);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

section{padding:5px 37px 0 25px; min-height: 93vh; height:auto;  max-width:900px; display: flex; align-items: center; justify-content: center;}

.article-container{
     background: #ffffff; 
     height:auto; 
     border-radius: 10px; 
     box-shadow: 1px 1px 5px  hsl(212, 23%, 69%);
    display: flex;
    margin-bottom: 10px;
    }


    .image{
        display: flex;
        justify-content: center;
        width:40%;
        height:auto; 
        display: flex;
        justify-content: center;
        align-items: center;
        background-origin: content-box;
    }

    .image img{width:100%; height:100%; object-fit: cover; object-position: center;}

    .text{
        width:60%;
        font-size: 13px;
    }

    .text.padding{padding: 20px 37px 0 37px; width:auto;}

    .text h2{color:hsl(217, 19%, 35%)}

    .text  p{color:hsl(214, 17%, 51%)}

    @media screen and (max-width:900px){
        section{padding:5px 25px 0 25px;}
        .article-container{flex-wrap: wrap;}
        .image{min-width:100%;}

        .text{width: auto;}
    }

    .bio-and-share{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 47px;
    }

    .colour{background-color: hsl(217, 19%, 35%); color:#ffffff; border-radius: 0 0 10px 10px ;}

    .bio{ display:flex; align-items: center;}

    .bio img{height:50px; width:50px; border-radius: 50%;margin-right: 15px;}

    .bio-desc h5, .bio-desc p{margin: 0;} 

    .bio-desc h5{color:hsl(217, 19%, 35%); font-size: 12px; margin-bottom: 10px; margin-right: 10px;}

    .bio-desc p{font-size: 12px; color:hsl(212, 23%, 69%)}

    .share{
        cursor:pointer; 
        background-color: hsl(210, 46%, 95%); 
        padding: 15px; 
        border-radius: 50%;
        color:hsl(214, 17%, 51%);
    }

    .share-colour{ color:#ffffff; background-color:  hsl(214, 17%, 51%);}

    .share-expansion{ padding:15px 0;}

    .none{display: none;}

    .share-expansion span{ margin-right: 10px; color:rgb(236, 242, 248,0.6); text-transform: uppercase; letter-spacing: 5px; font-weight: 100;}

    .share-expansion img{margin: 0 5px 0 10px}

    .show{display:flex!important; align-items: center;}

    .button-show{display: inherit!important;}

    .share-group{position:relative; display: flex; flex-direction: column; justify-content:center;  align-items: flex-end;}

    .share-bubble {
        display:none;
        width:100px;
        padding: 15px 40px;
        text-align: center;
        font-weight:100 ;
        background-color: hsl(217, 19%, 35%);
        border-radius: 8px;
        color:rgb(236, 242, 248,0.6);
        position: absolute;
        transform: translate(120%, -60px);
      }

      .bubble-show{ display:flex; align-items: center; justify-content: center;}

      .sb9:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid hsl(217, 19%, 35%);;
        border-bottom: 10px solid transparent;
        right: 41%;
        bottom: -18px;
       }

    .share-bubble span{font-size: 10px; margin-right:10px; color:rgb(236, 242, 248,0.6); text-transform: uppercase; letter-spacing: 5px; font-weight: 100;}

    .share-bubble img{cursor:pointer; margin: 0 5px; height:13px;}

    .attribution { 
        
        height:6vh; 
        flex-shrink:0; 
        font-size: 12px; 
        text-align: center; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: hsl(229, 23%, 23%);
    }

    .attribution p{line-height: 18px;}

    .attribution a { color:  #29604e; text-decoration: none; margin-bottom: 5px; }
