@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

html,body {padding: 0; margin: 0;}

.root-container{
    font-size: 18px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0px 15px;
    background: hsl(0, 0%, 98%);
}

section{
    flex:1 0 auto; 
    height:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    padding: 60px 0 20px 0;
}

.testimonial-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:25px;
}

@media screen and (max-width:800px){
    section{padding-top: 0;}
    .testimonial-container{grid-template-columns: 1fr;   padding: 50px 0;}
    .testimonial-card.one::before{height:60%!important; width:60px!important;}
    .testimonial-card.one{grid-column: unset!important;}
    .testimonial-card.three{grid-row: unset!important}
    .testimonial-card.four{grid-column: unset!important; grid-row: unset!important}
    .testimonial-card.five{grid-row: unset!important; height: }
}

.testimonial-card{
    height: auto;
    border-radius: 7px;
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 10px rgb(175, 175, 175);
}

.testimonial-card.one{
    background: hsl(263, 55%, 52%);
    grid-column: 1/3;
}

.testimonial-card.one::before{
    content: '';
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-size:contain;
    position: absolute;
    right: 10%;
    height:100%;
    width:100px;
    z-index: -1;
}

.testimonial-card.two{
    background: hsl(217, 19%, 35%);

}

.testimonial-card.three{
    grid-row: 2/3;
}

.testimonial-card.four{
    grid-row: 2/3;
    grid-column: 2/4;
    background: hsl(219, 29%, 14%);
    color:#fff;
}

.testimonial-card.five{
    grid-row: 1/span 2; 
    height: 100%;
    background: #fff;
}

.card-content{margin: 20px 30px;}

.profile{display: flex; align-items: center; }

.profile p{margin: 0;}

.profile p.name{color: hsl(0, 0%, 100%); margin-bottom: 3px;}

.profile p.title{color: rgb(255, 255, 255, 0.5); font-size: 13px;}

h4.review-heading{letter-spacing:0.5px; color:hsl(0, 0%, 100%); font-weight: 600; font-size: 22px;}

p.review-body{letter-spacing:0.5px; color:rgb(255, 255, 255, 0.7); font-size: 16px;}

.testimonial-card.three p.name, .testimonial-card.five p.name{color:hsl(217, 19%, 35%)!important}

.testimonial-card.three p.title, .testimonial-card.five p.title{color:rgb(72, 85, 106,0.5)!important}

.testimonial-card.three h4.review-heading, .testimonial-card.five h4.review-heading{color: hsl(217, 19%, 35%)!important}

.testimonial-card.three p.review-body, .testimonial-card.testimonial-card.five p.review-body{color:rgb(72, 85, 106,0.7)!important}

.testimonial-card img{
    border-radius: 50%;
    margin-right: 20px;
}

.testimonial-card.one img, .testimonial-card.four img{ border:3px solid#a775f1;}

.attribution { 
    flex-shrink:0; 
    font-size: 14px; 
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(229, 23%, 23%);
}

.attribution p{line-height: 18px;}

.attribution a { color:hsl(217, 19%, 35%);; text-decoration: none; margin-bottom: 5px; }