@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;850&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


html,body{margin:0; padding:0; overflow-x: hidden;}

.root-container{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.view{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
}

.header-logo-second-half{font-family: 'Open Sans'; background: hsl(193, 100%, 96%); z-index: 1; width: 100%; }

.header-logo-second-half::before{
    content: '';
    background-image: url("../images/bg-hero-desktop.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height:500px;
    width: 100%;
    z-index: -1;
}@media screen and (max-width:850px){
    .header-logo{ padding:0 20px; }

    .header-logo-second-half::before{
    background-image: url("../images/bg-hero-mobile.svg");
    background-size: contain;
}
}

.header-logo{
    flex-shrink: 0;
    height:auto;
    align-self: flex-start;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 50px;
    margin-top: 30px;
}


.header-logo img{
    height:30px;   
    transition: .1s;     
}@media screen and (max-width:850px){
    .header-logo img{height: 21px;}
    .header-logo {padding: 0 20px;}
}

.header-logo button{
    font-family: 'Poppins';
    font-weight: 850;
    background: #fff;
    border: none;
    box-shadow: 1px 1px 10px hsl(191, 14%, 78%);
    padding: 12px 45px;
    border-radius: 25px;
    outline: none;
}@media screen and (max-width:450px){
    .header-logo button{padding: 10px 35px;}
}

.header-logo button:hover{cursor: pointer; color:hsl(208, 11%, 55%)}

.second-half{
    display:flex;
    align-items: center;
    padding: 50px;
    margin-left: 20px;
}

.second-half .image{height: 450px;}
@media screen and (max-width:850px){.second-half{flex-direction: column; padding:30px 0; }}
@media screen and (max-width:450px){ .second-half .image{height: 350px;}}

.image img{height:100%; width:100%; object-fit: contain;}

.second-half button, .card.build button{
    background-color: hsl(322, 100%, 66%);
    outline: none;
    padding: 18px 45px;
    border-radius: 35px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans';
    margin-top: 12px;
    margin-bottom: 20px;
}

.second-half button:hover, .card.build button:hover{background-color: rgb(255, 116, 204); cursor: pointer;}

.text h1{font-weight: 700; margin-bottom:3%; font-size: 45px;}
@media screen and (max-width:850px){
    .second-half .text{display: flex; flex-direction: column; align-items: center;}
   .header-logo-second-half .text h1{text-align: center; font-size: 28px;}
    .header-logo-second-half .text p{text-align: center; width: 100%; font-size: 17px!important;}
}

.text p{width:85%; font-size: 20px;}

section{
    flex:1 0 auto; 
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Open Sans';
}

.cards{padding:0 70px; margin: 50px 0; display: flex; flex-direction: column; align-items: center; }

.card{padding:50px 80px; width: auto; margin-bottom: 40px; border-radius: 8px; box-shadow: 1px 1px 10px rgb(224, 224, 224); display: flex; align-items: center;}

.card h2{font-size: 28px;}

.card p{font-size: 18px; width: 100%; line-height: 30px;}

.cards .image{height:350px}

.image img{height:100%; width:100%; object-fit: contain;}

@media screen and (max-width:850px){
    .cards{padding: 0 20px;}
    .card{flex-direction: column-reverse; align-items: center; padding: 40px; max-width: 80%;}
    .card-text{display: flex; flex-direction: column; align-items: center;}
    .card-text p{text-align: center;}
    .cards .image{height: 200px}

}

.card.build{display: flex; flex-direction: column;margin: 0 auto; position: relative; transform: translate(0, 55%); z-index: 1; background: #fff; box-shadow: 0 -2px 10px -5px #333!important;}

.card.build button{box-shadow: 1px 1px 10px rgb(172, 172, 172)}

footer{
    background: hsl(192, 100%, 9%);
    color:#fff;
    padding: 150px 100px 20px 100px;
}

.contact img{height: 20px; margin-right: 35px;}

.contact{margin-top: 20px; display: flex; align-items: center}

.contact p{ margin: 0!important;}

.huddle-logo{margin-bottom: 20px;}

footer .text, .social-links{width:auto; width: 25%; margin-right:30px }
@media screen and (min-width:1000px){.card.build{width:500px;  } .footer .text, .social-links{margin-right: unset!important;}}

.text-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
    @media screen and (max-width:1000px){
        .card.build{transform: translate(0, 35%);}
        .card.build h2{text-align: center;}
        .content{flex-direction: column;} 
        .text{margin: 0; width:100%!important} 
        .text-container{flex-direction: column;}
        .text.link p{max-width: 20%;}
        .social-links{align-self: center; width: 100%!important; margin-top: 5px; margin-right: 0px;}
    }

.text p{ font-size: 14px; margin: 15px 0 7px 0;}


.text.link p:hover{color:hsl(322, 100%, 66%); cursor:pointer}

.social-links{ display: flex; justify-content: space-between; align-items: center; flex-direction: column;}
.social-links a{cursor:pointer;}


.social-links p{text-align: center; font-size: 12px;}

.logo{display: flex; align-items: center;}

.social-links img{transition: .3s; margin-right: 10px; border-radius: 50%; padding:10px; border:1px solid white; height:20px}
.social-links a:hover img{transform: scale(1.1); box-shadow: 1px 1px 5px #000; border:1px solid hsl(322, 100%, 66%) }

@media screen and (max-width:1000px)
{
    footer{padding: 100px 20px 20px 20px!important;} 
    .text.one{margin-top: 20px;}
    .huddle-logo{height: 25px!important; margin-bottom: 10px;}
}

.attribution { 
    height:6vh; 
    flex-shrink:0; 
    margin-top: 5px;
    font-size: 13px; 
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}

.attribution p{line-height: 18px;}

.attribution a { color: hsl(322, 100%, 66%); text-decoration: none; margin-bottom: 5px; }