@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap');

html, body{
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}

button{ transition: .3s;}

.root-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    scroll-behavior:smooth;
}

.view{
    align-self: start;
    min-height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.view-body{
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0 ;
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 1600px;
    margin:  0 auto;
} 

section{
    flex-shrink: 0;  
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans';
    font-weight: 400;
}


/*navigation*/
header{
    font-family: 'Alata';  
    z-index: 100;
    width: 100%;
}


.web-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:40px;
    margin: 0 auto;
    padding:20px 0;
}

.header-padding{padding-left:20px; padding-right: 20px;}

.fixed  {position:fixed;  transition: 1s; top:0}

.fixed + .view-body{padding-top:65px;}

.view header {width: 100%;}

/*navigation content*/
nav{
    width:47%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}@media screen and (max-width: 750px) {
    nav{
        width:unset;
    }

    .web-header-container{
        padding: 20px;     
    }
}

p a{text-decoration: none;}

nav p.nav-elements.web{
    font-size: 15px;
    cursor: pointer;
    position: relative;
    font-weight: 500;
}

.nav-elements.web a{color:#fff}

.nav-elements.web:hover::before{
    content:'';
    position: absolute;
    height:25px;
    width:45%;
    transform: translate(70%,-3%);
    border-bottom: 2px solid white;
}

.material-icons.menu.md-36 { 
    font-size: 27px; 
    cursor: pointer;
}@media screen and (min-width: 750px) {
    .material-icons.menu.md-36 {
        display:none;
        font-size: 24px;
    }
}

.first-section, .second-section, .third-section{display: flex; justify-content: center;}

.first-section{
    background: url("../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    position: relative;
    height:auto;
    padding:0 0 10vh 0;
    width:100%;
}

.first-section-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:85%;
}

.first-section-container .text{
    align-self: flex-start;
    height: auto;
    margin-top: 10vh;
    max-width:60%;
    border:1px solid white;
}

.background{background: rgb(0, 0, 0,0.8);}
.padding{padding-top:90px}

.first-section-container .text p{
    text-transform: uppercase; 
    font-size: 70px; 
    font-weight: 400;
    text-align: left; 
    line-height: 65px;
}

@media screen and (max-width:750px){
    .first-section{
        background-image: url("../images/mobile/image-hero.jpg");
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width:750px){
    .first-section-container .text{align-self: unset;}
    .first-section-container .text p{width:100%; font-size: 45px;}
}


.second-section{ display: flex; justify-content: center;  padding-left: ;}

.second-section-container{
    width:85%;
    padding:100px 0 0 6vw;
    display: flex;
    align-items: center;
}

.image{width:100%; height:500px;}

.image img{height:100%; width:100%; object-fit: cover;}

.interactive-text{
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 45px;
    width:100%; 
    position: relative;
    left:-13%;
    top:15%;
    margin-left: 5vw;
}

.interactive-text h2{font-family: 'Josefin Sans'!important;text-transform: uppercase; font-size: 42px; margin-bottom: 20px;}

.interactive-text p{line-height: 25px; color:hsl(0, 0%, 55%); font-family: 'Alata';}

@media screen and (max-width:900px){
    .second-section-container{padding-left: 0;}
    .second-section-container{flex-direction: column; align-items: center;}
    .interactive-text{position: unset; left:unset; top:unset; text-align: center;  width:80%!important}
    .interactive-text p{line-height: 30px; font-size: 16px;}
    .second-section h2{font-size: 35px;}
}

.third-section{
    width:100%;
    margin: 150px 0;
}

.third-section-container{
    width:85%;
}

.different-section{
    display: flex;
    justify-content: space-between;
 }

.third-section h2{ font-size: 45px; font-weight: 400; line-height: 40px; margin: 0; text-transform: uppercase;}

.third-section button{
    background-color: transparent; 
    color:hsl(0, 0%, 0%); 
    padding:13px 28px; 
    border:2px solid hsl(0, 0%, 41%); 
    text-transform: uppercase; 
    font-size: 12px; 
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
}

.third-section button:hover{color:#fff; background:hsl(0, 0%, 0%);}

.creations{display: flex; justify-content: space-between;}

.gallery{
    width:100%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
    margin-top: 40px;
}

.gallery-image .desc{position: relative; height: 100%;}
.desc p{color:#fff; font-size: 25px; text-transform: uppercase; position: absolute; bottom: 0; left:25px;}

.gallery-image{transition: .3s; cursor: pointer;}
.gallery-image:hover > .desc{ z-index: 1; background-color: rgb(255, 255, 255, 0.4);}
.gallery-image:hover > .desc p{color:#000!important; z-index:100; }

@media screen and (min-width:650px){
    .gallery-image{background-size: contain; min-height:;}
    #earth{background-image: url("../images/desktop/image-deep-earth.jpg")}
    #arcade{background-image: url("../images/desktop/image-night-arcade.jpg")}
    #grid{background-image: url("../images/desktop/image-grid.jpg")}
    #soccer{background-image: url("../images/desktop/image-soccer-team.jpg");}
    #above{background-image: url("../images/desktop/image-from-above.jpg")}
    #pocket{background-image: url("../images/desktop/image-pocket-borealis.jpg")}
    #curiosity{background-image: url("../images/desktop/image-curiosity.jpg")}
    #fisheye{background-image: url("../images/desktop/image-fisheye.jpg")}

    #grid .desc, #fisheye .desc{position: relative; bottom:100%}
}

@media screen and (max-width:650px){
    .gallery{grid-template-columns: 1fr;} 
    .gallery-image{
        min-height:160px; 
        width:100%; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

        #earth{position:relative; background-image: url("../images/mobile/image-deep-earth.jpg")}
        #arcade{background-image: url("../images/mobile/image-night-arcade.jpg")}
        #grid{background-image: url("../images/mobile/image-grid.jpg")}
        #grid img{display: none!important;}
        #soccer{background-image: url("../images/mobile/image-soccer-team.jpg");}
        #above{background-image: url("../images/mobile/image-from-above.jpg")}
        #pocket{background-image: url("../images/mobile/image-pocket-borealis.jpg")}
        #curiosity{background-image: url("../images/mobile/image-curiosity.jpg")}
        #fisheye{background-image: url("../images/mobile/image-fisheye.jpg")}
        #fisheye img{display: none!important;}
    }

.gallery-image { width:100%; background-repeat: no-repeat;}
.gallery-image img{height:100%; width:100%; object-fit: contain;}


@media screen and (max-width:750px){
    .first-section-container{width:100%!important; padding: 0 0 50px 0;}
    .first-section .text{width:90%!important}
    .first-section p{ width:100%!important}
    .second-section-container, .third-section-container{margin: 0 5px!important; width:90%!important}
    .second-section h2{text-align: center;}
    .third-section h2{font-size: 30px;}
    .third-section-container{margin: 0 auto; flex-direction: column;}
}

footer{
    background: hsl(0, 0%, 0%);
    font-family: 'Alata';
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    max-width: 1600px;
    margin:  0 auto;
}

.footer-content{
    background: hsl(0, 0%, 0%);
    display:flex;
    justify-content: space-between;
    width:85%;
    margin-top: 50px; 
}

.loopstudios-logo{align-self: flex-start;}

.footer-logo{padding: 0 0px 0px 0px; width:45%;display: flex; flex-direction: column; align-items:center; justify-content:  space-between;}

.social-links{padding:14px 0 0 0; align-self: flex-end;}

.logo{display: flex; align-items: center;}

.loopstudios-logo{padding:14px}

.social-links img{cursor:pointer;  transition: .3s; margin-right: 5px; padding: 0 5px 10px 5px; height:20px; border-bottom:1px solid transparent;}
.social-links img:hover {fill:hsl(256, 26%, 20%);  border-bottom:1px solid white;}

.text-container{
    width:45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 0px 0px 0px;
}
footer .text{
    transition: .3s; 
    font-weight: 600; 
    color: hsl(0, 0%, 41%); 
    font-size: 14px; 
    display: flex;
}

.text.one{margin: 0 0 0 14px; align-self: flex-start;}

.text.two{ margin-bottom: 0; width:100%; text-align: right!important; }
.text p{text-align: right; width:100%}

.text.one p{cursor:pointer; margin-right: 20px; color:#fff; transition: .3s;}
.text.one p:hover::before{
    content:'';
    position: absolute;
    height:25px;
    width:20px;
    transform: translate(70%,-3%);
    border-bottom: 2px solid white;
}

.social-links{ display: flex; justify-content: space-between; align-items: center; flex-direction: column;}
.social-links a{cursor:pointer; text-align: center; font-size: 12px;}

@media screen and (max-width:800px){
    .footer-content{flex-direction: column;}
    .footer-logo{ width:100%; flex-direction: column; align-items: center; margin-top: 75px;}
    .content{flex-direction: column;} 
    .text{margin: 0; width:100%!important; text-align: center;} 
    .text-container{flex-direction: column; margin-top: 15px; align-items: center;width:100%}
    .text p{text-align: center;}
    .social-links{width: 100%!important; margin-top: 15px; margin-right: 0px;}
    .text.one{margin: 0px; flex-direction: column;}
    .loopstudios-logo{align-self: center;}
}


.attribution { 
    height:6vh; 
    flex-shrink:0; 
    margin: 30px 0;
    font-size: 13px; 
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
}

.attribution p{line-height: 18px;}

.attribution a { color: blue; text-decoration: none; margin-bottom: 5px; font-weight: 700;}

/*mobile nav view*/
.mobile-nav{
    align-self: flex-end;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
    font-family: 'Josefin Sans', sans-serif;
    width:100%;
    height:100%;
    font-size: 0.95rem;
    background: #000 ;
    z-index: 100;
}

.mobile-nav p{margin: 0;}

.mobile-nav header{
    height: 40px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    width:auto;;
}

.mobile-nav .clear-button{
    height:20px;
    padding:3px;
    display: flex;
    align-items: center;
    font-size: 27px; 
    cursor: pointer;
    color:#fff;
} 

.nav-elements-container{
    display: flex;
    flex-direction: column;
    margin-top: 17vh;
    cursor: pointer;
    font-size: 0.95rem;
    height:90vh;
    position: relative;
    overflow: hidden;
    text-align: left!important;
}

.mobile-nav .nav-elements-container p{font-size: 21px; margin:0 0 10px 15px; text-transform: uppercase; font-weight: 400!important;}

.nav-elements-container a{ color:#fff!important; }

.nav-elements-container p {padding: 5px; border-bottom:  2px dotted transparent;}
.nav-elements-container p:hover{color:hsl(216, 30%, 68%); border-bottom: 2px dotted hsl(216, 30%, 68%);}

/*to animate the mobile menu when in view*/
@-webkit-keyframes slide-left {
    0% { opacity: 0; -webkit-transform: translateX(100%); }   
  100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-left {
    0% { opacity: 0; -moz-transform: translateX(100%); }   
  100% { opacity: 1; -moz-transform: translateX(0); }
}